/*
================================================
    Font Import
================================================
*/

/*
================================================
    Color Variables
================================================
*/
:root {
  --primary-bg-color: #017a9b;
  --secondary-bg-color: #6d7780;

  --primary-border-color: ##02b3e4;

  --primary-text-color: ##2e3d49;
  --bg-darkgrey-color: #777574;

  --font-black-color: #000000;
  --font-white-color: #ffffff;
}

/*
================================================
    Project specific settings
================================================
*/
* {
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  min-height: 100%;
}

body {
  font-family: Open Sans, sans-serif;
  font-size: 16px;
}

body,
p {
  color: #525c65;
  line-height: 24px;
}

a {
  text-decoration: none;
  color: #fff;
}

b {
  font-weight: bold;
}

/*
================================================
    Trial bar with custom close setting.

    It's a absolute positioned checkbox with opacity 0 and a Close button
    from fontawesome in front of it. When clicked the trial bar disappears.
    But the checkbox is still active in the upper right corner, if clicked,
    trial bar will show again. (best i could do with only css)
================================================
*/

#trialbar {
  background: linear-gradient(90deg, #017a9b, #018377);
  width: 100%;
}

#trialbar .tb-container {
  display: flex;
  justify-content: center;
  text-align: center;
}

#trialbar .tb-text {
  font-size: 1.1rem;
  padding: 1rem 1.5rem;
}

#trialbar .tb-close-btn-show {
  position: absolute;
  top: 18px;
  right: 10px;
  color: var(--font-white-color);
  opacity: 0.75;
}

.tb-close-btn {
  position: absolute;
  z-index: 1000;
  opacity: 0;
  top: 18px;
  right: 10px;
  cursor: pointer;
}

input[type="checkbox"] {
  position: absolute;
  top: -9999px;
  left: -9999px;
}

/* Toggled State */
input[type="checkbox"]:checked ~ #trialbar {
  display: none;
}
